
.footer-col{
    position: fixed;
    bottom:0px ;
    width: 100%;
    height: 100px;
    z-index: -10;
}

 /*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      bottom: 50px;
  }
  }
  @media(min-width: 574px){
    .footer-col{
      width: 100%;
  }
  }